* {
    margin: 0;
}
h1,
p {
    color: white;
}
h1 {
    background: red;
    padding-top: 40px;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-left: 50px;
    border-style: dotted;
    border-width: 5px;
    border-color: chartreuse;
    border-bottom: 10px solid green;
    border-top-style: double;
    border-top-color: green;
    border-top-width: 10px;
}
p {
    background: blue;
    /* padding: 40px; */
    /* padding: 30px 60px; */
    padding: 20px 30px 50px 40px;
    margin: 4rem 2rem 5rem 4rem;
    border: 1rem solid chartreuse;
}
.links {
    margin: 3rem;
}
a {
    background: chartreuse;
    text-decoration: none;
    padding: 1rem 2rem;
    color: #222;
    text-transform: uppercase;
    margin: 0 20px;
    outline-width: 2rem;
    outline-color: #2222;
    outline-style: solid;
    outline-offset: 10px;
}
